/* 仅列表页使用 */
@media (width >= 1024px) {
  .absolute-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
  }
}

.search-form {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
  margin-bottom: -18px;
}

.search-form .el-form-item {
  grid-column: auto / span 1;
}

.search-form .el-form-item:last-child {
  grid-column-end: -1;
}

.search-form .el-form-item:last-child .el-form-item__content {
  justify-content: flex-end;
}

.el-divider {
  width: calc(100% + 40px);
  margin-inline: -20px;
}
